<h2>Entre em Contato</h2>
<p>Escolha uma opção para que possamos entrar em contato com você:</p>

<mat-radio-group class="user-input" aria-label="Select an option">
  <mat-radio-button (click)="selectContactOption('telefone')" value="1">telefone</mat-radio-button>
  <mat-radio-button (click)="selectContactOption('email')"value="2">e-mail</mat-radio-button>
</mat-radio-group>

<form [formGroup]="contactForm">
  <div *ngIf="selectedOption === 'telefone'">
    <mat-form-field>
      <input matInput placeholder="Telefone" formControlName="phoneNumber">
    </mat-form-field>
  </div>
  <div *ngIf="selectedOption === 'email'">
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-button (click)="closeModal()">Voltar</button>
    <button mat-button (click)="contact()" [disabled]="!contactForm.valid || !contactForm.touched">Solicitar Contato</button>
  </div>
</form>

